.footer_links li {
    list-style: none;
}

.footer_links a {
    text-decoration: none;
    font-size : 0.95rem;
    color : #fff;
}

.footer_links p {
    font-size: 1.5rem;
    font-weight: bold;
}

a:hover {
    transition: color 0.2s ease;
    color :#969696;
}

footer {
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
    padding-top: 30px;
    background-color: #000;
    color : #fff;
    text-align: center;
}

.footer_links {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding : 2rem 0;
}