li {
    list-style: none;
}

a {
    text-decoration: none;
    color : #000;
    font-size : 1rem;
}

a:hover {
    color :#858585;
}

header {
    position: relative;
    padding : 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav_logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav_links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor : pointer;
    display: none;
}

.action_btn {
    background-color: #000; 
    color:#ffffff;
    padding : 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color:#cecece;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position : absolute;
    right: 2rem;
    top: 60px;
    height : 0;
    width: 200px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 190px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

