.ml-container {
    max-width: 800px;
    margin: auto;
}

.ml-container h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.ml-container .ml-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.ml-container br {
    margin: 55px;
}

.ml-content {
    margin: 20px;
}

.ml-container a:hover {
    color: #000000;
}

hr {
    max-width: 800px;
}