
/* RESPONSIVE CSS AFFICHAGE MAC 13p */
@media screen and (max-width: 1440px) and (min-width: 1100px) {
    section {
        max-width : 1000px;
    }

    .col_left, .col_right {
        max-width: 800px;
    }

    .section_columns {
        margin: 0;
    }

    
}

/* HEADER + NAVBAR(DROPDOWN) TEL */
@media (max-width: 900px) {
    .navbar .nav_links, .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn, .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* SECTION MAP TEL */
@media (max-width: 768px) {

    .section_columns {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding: 20px 0;
    }

    .col_left, .col_right {
        margin: 0;
        width: 100% !important;
        max-width: 100%;
    }

    .col_left {
        width: 100% !important;
        height: 50px !important; 
        display: flex;
        justify-content: center;
    }

    .pm-box {
        width: 100%;
    }
}