section {
    justify-content: center;
    text-align: justify;
    width: 100%;
    max-width: 1440px;
    margin: 90px auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section_title {
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.6;
}

.section_columns {
    align-items: center;
    display: flex;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.col_left {
    flex: 2;
    width: 1000px;
}

.col_right {
    flex: 1;
    width: 250px;
}

.pm-panel {
    cursor : pointer;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pm-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 14px;
    min-width: 220px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.pm-box:hover {
    transform: translateX(5px);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
}

.pm-icon {
    width: 60px;
    height: 60px;
}

/* Texte PM */
.pm-label {
    font-size: 1rem;
    font-weight: 500;
}

.section_title_pm {
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
